
RewriteEngine on

RewriteCond %{HTTP_HOST} ^photography\.joshcruz\.net$ [OR]
RewriteCond %{HTTP_HOST} ^www\.photography\.joshcruz\.net$
RewriteRule ^/?$ "http\:\/\/photography\.joshcruz\.net\/public\/index\.php" [R=301,L]

